/* Три селектори елемента з однаковою специфічністю */
a {
    color: teal;
}

a {
    color: brown;
}

/* Це правило стоїть нижче, отже до всіх посилань застосовується помаранчевий колір тексту */
a {
    color: orange;
}

