.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: white;
  border-radius: 20px;
  padding: 80px;
  max-width: 560px;
  width: 95%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 40px;
  color: #050505;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.logoutModal .title {
  margin-bottom: 0;
  text-align: center;
}

.inputGroup {
  position: relative;
}

.inputGroup:not(:last-of-type) {
  margin-bottom: 14px;
}

.input {
  outline: none;
  display: block;
  width: 100%;
  padding: 16px 18px;
  border-radius: 25px;

  border: 1px solid var(--inactive-color);
}

.input:focus {
  border: 1px solid var(--title-color);
}

.input.error {
  border-color: red;
}

.buttonSubmit {
  width: 100%;
  padding: 16px;
  margin-top: 40px;
}

.buttonCancel {
  padding: 16px;
  margin-top: 20px;
  width: 100%;
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  stroke: var(--title-color);
}

.eyeButton {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.errorInput {
  margin: 0;
  padding: 0 5px;
  position: absolute;
  z-index: 2;
  background: var(--white-color);
  left: 30px;
  bottom: -8px;
  font-size: 12px;
  color: red;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.errorForm {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 15px;
  color: red;
  text-align: center;
  margin-top: 10px;
}

.bottomText {
  margin-top: 20px;
  text-align: center;
  color: #1a1a1a;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.bottomTextLink {
  color: var(--text-color);
  cursor: pointer;
  transition: var(--background-transition);
  position: relative;
}

.bottomTextLink:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: transparent;
  transition: var(--transform-transition);
  transform-origin: 100% 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
}

.bottomTextLink:hover,
.bottomTextLink:focus {
  color: var(--title-color);

  &:after {
    transform: scaleX(1);
    background: var(--title-color);
    transform-origin: 0% 100%;
  }
}

.logoutModal .bottomText {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .modal {
    padding: 60px 30px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 28px;
  }
  .bottomText {
    color: var(--inactive-color);
  }

  .logoutModal .bottomText {
    color: var(--inactive-color);
  }
}

@media screen and (max-width: 374px) {
  .modal {
    padding: 60px 15px;
  }
}
