/* rgba(червоний, зелений, синій, альфа) */

/* Чистий червоний колір із прозорістю 30% */
p {
    background-color: rgba(255, 0, 0, 0.3);
}

/* Чистий червоний колір із прозорістю 30% */
p {
    background-color: rgba(100%, 0%, 0%, 30%);
}

p {
    background-color: rgba(234, 51, 36, 0.5);
}