/* Чистий червоний колір: 255 червоний, 0 зелений, 0 синій */
p {
    color: rgb(255, 0, 0);
}

/* Чистий червоний колір: 100% червоний, 0% зелений, 0% синій */
p {
    color: rgb(100%, 0%, 0%);
}

/* Чистий червоний колір: ff (100%) червогого, 00 (0%) зеленого, 00 (0%) синього */
p {
    color: #ff0000;
}

/* Чистий зелений колір: 00 (0%) червогого, ff (100%) зеленого, 00 (0%) синього */
p {
    color: #00ff00;
}

/* Чистий синій колір: 00 (0%) червогого, 00 (0%) зеленого, ff (100%) синього */
p {
    color: #0000ff;
    }