/* .pane {
    display: none;
    padding: 8px;
    border: 1px solid blue;
    border-radius: 4px;
}

.pane.is-active {
    display: block;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #212121;
    background-color: #f9f9fd;
}

.pane {
    display: none;
    margin-top: 8px;
}

.pane.is-active {
    display: block;
}

.controls {
    display: flex;
    gap: 8px;
}