/* Однакові відступи по 20px з усіх боків
margin: 20px;

Відступ зверху та знизу по 10px, зліва та праворуч по 20px
margin: 10px 20px;

Відступ зверху 10px, ліворуч і праворуч по 20px, знизу 5px
margin: 10px 20px 5px;

Відступ зверху 10px, праворуч 15px, знизу 20px, зліва 25px
margin: 10px 15px 20px 25px; */

/* margin-top: 20px;
margin-right: 10px;
margin-bottom: 15px;
margin-left: 30px; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.post {
  padding: 20px;

  max-width: 400px;
  background-color: #fff;
  border: 2px dashed #2a2a2a;
}

.post-thumb {
  margin-bottom: 30px;
  border: 2px dashed tomato;
}

.post-heading {
  margin-top: 0;
  margin-bottom: 20px;

  border: 2px dashed teal;
}

.post-text {
  margin-bottom: 0;
  margin-top: 0;

  border: 2px dashed blue;
}