/* Однакові поля по 20px з усіх боків
padding: 20px;

Поля зверху та знизу по 10px, зліва та праворуч по 20px
padding: 10px 20px;

Поле зверху 10px, ліворуч і праворуч по 20px, знизу 5px
padding: 10px 20px 5px;

Поле зверху 10px, праворуч 15px, знизу 20px, ліворуч 25px
padding: 10px 15px 20px 25px; */

/* padding-top: 20px;
padding-right: 10px;
padding-bottom: 15px;
padding-left: 30px; */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #212121;
}

.text {
    padding: 20px;
    background-color: #fff;
    border: 2px dashed #212121;
}