*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    color: #212121;
    font-size: 14px;
    background-color: #fff;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.club-list .title {
    margin-bottom: 8px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.333;
}

.club-list .link {
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.club-list .item{
    /* border: 1px solid #03a9f4; */
    border-radius: 8px;
    overflow: hidden;
}