*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    color: #212121;
    font-size: 14px;
    background-color: #fff;
    line-height: 1.5;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.downloads {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 8px; */
    margin-top: 20px;
}

/* .downloads .item {
    margin-bottom: 8px;
} */

/* .downloads .item:last-child {
    margin-bottom: 0;
} */

.downloads .item:not(:last-child) {
    margin-bottom: 8px;
}

.downloads .link {
    text-decoration: none;
}

.downloads .link:hover,
.downloads .link:focus {
    text-decoration: underline;
}