.link {
    color: teal;
}

.link:hover {
    color: orange;
}

.social-links .link {
  color: violet;
}

.social-links .link:hover {
  color: tomato;
}

/* 
<p>
  Відмінну шпаргалку за тегами можна знайти
  <a class="link" href="<https://htmlreference.io>">за посиланням</a>.
</p> 
*/

/* 
<ul class="social-links">
  <li><a class="link" href="<https://twitter.com>">Twitter</a></li>
  <li><a class="link" href="<https://www.instagram.com>">Instagram</a></li>
  <li><a class="link" href="<https://www.facebook.com>">Facebook</a></li>
</ul>
*/
