/*

<h2 class="title">Привіт, я Mango.</h2>
<p class="text">
  Вітаю вас на моїй особистій сторінці. Тут можна подивитися
  <a class="link" href="">проєкти</a>.
</p>

<h2>Цей заголовок не буде стилізовано</h2>
<p>Цей текст не буде стилізовано<p>
<a href="">Це посилання не буде стилізовано</a> 

*/

/* Застосовується до всіх тегів з класом title */
.title {
    color: skyblue;
}

/* Застосовується до всіх тегів із класом text */
.text {
    color: brown;
}

/* Застосовується до всіх тегів з класом link */
.link {
    color: tomato;
}