.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.box {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #212121;
    font-size: 32px;
    font-family: sans-serif;
}

.box:nth-child(1) {
    background-color: #ff9800;
    transform: translateY(-100%);
}

.box:nth-child(2) {
    background-color: #009688;
    transform: translateX(-100%);
}

.box:nth-child(3) {
    background-color: #673ab7;
    transform: translateX(100%);
}

.box:nth-child(4) {
    background-color: #f44336;
    transform: translateY(100%);
}