/* ul+p {
    background-color: yellow;
} */




.form-input:checked {
    outline: 2px solid #2196f3;
    outline-offset: 2px;
}


.form-input:checked+.form-label {
    color: violet;
}


* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}

.form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.form-caption {
    margin: 0;
    font-weight: 700;
}

.form-field {
    display: flex;
    align-items: center;
    gap: 4px;
}

.form-label {
    cursor: pointer;
}

/* input[type="radio"]:checked+label {
    color: violet;
} */