.mainTitle {
    font-weight: 800;
    font-size: 28px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--title-color);

    @media screen and (min-width: 768px) {
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 20px;

    }

   
}