.scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
    .scrollToTopBtn {
        width: 42px;
        height: 42px;
        bottom: 40px;
        right: 40px;
    }
}

.scrollToTopBtn.visible {
    opacity: 1;
    visibility: visible;
    animation: jump 1s ease-in-out;

}

.iconButtonIcon {
    transform: rotate(-45deg);
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}