.btn {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.875rem 2rem;
  border-radius: 1.875rem;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--color-transition), var(--background-transition), var(--border-transition);
  color: var(--white-color);
  background-color: var(--text-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 1rem 2.5rem;
    font-size: 16px;
  }
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: var(--title-color);
}

.btn.inactive {
  color: var(--white-color);
  background-color: var(--inactive-color);
}

.btn.inactive:hover,
.btn.inactive:focus {
  color: var(--white-color);
  background-color: var(--title-color);
}

.btn.outlined {
  background-color: var(--white-color);
  border: 1px solid var(--text-color);
  color: var(--title-color);
}

.btn.outlined:hover,
.btn.outlined:focus {
  background-color: var(--title-color);
  color: var(--white-color);
  border-color: var(--title-color);
}

.btn.outlinedInactive {
  background-color: var(--white-color);
  border: 1px solid var(--inactive-color);
  color: var(--title-color);
}

.btn.outlinedInactive:hover,
.btn.outlinedInactive:focus {
  background-color: var(--title-color);
  color: var(--white-color);
  border-color: var(--title-color);
}

.btn[disabled],
.btn.outlined[disabled],
.btn.outlinedInactive[disabled] {
  cursor: auto;
  color: var(--white-color);
  background-color: var(--inactive-color);
  border-color: var(--inactive-color);
}
