body {
    font-family: sans-serif;
    line-height: 1.5;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

input {
    padding: 4px;
    font-family: inherit;
}

input::placeholder {
    color: teal;
    font-weight: 700;
}


input:hover::placeholder,
input:focus::placeholder {
    color: orange;
}