a {
    color: rgb(0, 0, 0);
}
header { 
    background-color: rgb(245, 245, 245);
}


header {
    background-color: #f5f5f5;
}

a {
    color: #212121;
}

nav {
    background-color: rgba(0, 0, 255, 0.3);
}