.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: white;
  border-radius: 20px;
  padding: 80px;
  max-width: 560px;
  width: 95%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.title {
  margin-bottom: 40px;
  color: #050505;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.inputGroup {
  position: relative;
}

.inputGroup:not(:last-of-type) {
  margin-bottom: 14px;
}

.input {
  outline: none;
  display: block;
  width: 100%;
  padding: 16px 18px;
  border-radius: 25px;

  border: 1px solid var(--inactive-color);
}

.input:focus {
  border: 1px solid var(--title-color);
}

.input.error {
  border-color: red;
}

.buttonSubmit {
  border: none;
  width: 100%;
  padding: 16px;
  margin-top: 40px;

  background: var(--title-color);
  color: #fff;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonSubmit:disabled {
  background: #ccc;
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  stroke: #050505;
}

.errorInput {
  margin: 0;
  padding: 0 5px;
  position: absolute;
  z-index: 2;
  background: white;
  left: 30px;
  bottom: -8px;
  font-size: 12px;
  color: red;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.errorForm {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 15px;
  color: red;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .modal {
    padding: 60px 30px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 28px;
  }
}

@media screen and (max-width: 374px) {
  .modal {
    padding: 60px 15px;
  }
}
