.gallery {
  display: flex;
  width: 1312px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 28px auto 0;
}

.imageWrapper {
  width: 292px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-gray-light);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .gallery {
    width: 100%;
    padding: 0 64px;
    gap: 16px;
  }
}

@media (max-width: 1024px) {
  .gallery {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .gallery {
    padding: 0 24px;
  }

  .imageWrapper {
    width: 100%;
    max-width: 292px;
  }
}
