/* Main Page */

position: relative;
width: 1440px;
height: 3300px;

background: #FFFFFF;


/* Footer */

position: absolute;
width: 1440px;
height: 312px;
left: 0px;
top: 2988px;



/* Dark-bg */

position: absolute;
width: 1440px;
height: 312px;
left: 0px;
top: 2988px;

/* NAVY BLUE */
background: #2E2F42;


/* Text */

position: absolute;
width: 264px;
height: 112px;
left: 156px;
top: 3088px;



/* Increase the flow of customers and sales for your business with digital marketing & growth solutions. */

position: absolute;
width: 264px;
height: 72px;
left: 156px;
top: 3128px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;

/* CLOUD */
color: #F4F4FD;



/* Logo */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 115px;
height: 24px;
left: 156px;
top: 3088px;



/* Web */

width: 44px;
height: 21px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */
color: #4D5AE5;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Studio */

width: 71px;
height: 21px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* CLOUD */
color: #F4F4FD;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Section 3 */

position: absolute;
width: 1128px;
height: 1000px;
left: 156px;
top: 1868px;



/* Row 2 */

position: absolute;
width: 1128px;
height: 420px;
left: calc(50% - 1128px/2);
top: 2448px;



/* Project Card 3 */

position: absolute;
width: 360px;
height: 420px;
left: 924px;
top: 2448px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;


/* img */

position: absolute;
width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: url(charming-short-haired-lady-gray-hat-standing-beside-wall-with-smartphone.jpg);
mix-blend-mode: normal;


/* Card Content */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 16px;
gap: 8px;

position: absolute;
width: 360px;
height: 120px;
left: 0px;
top: 300px;

/* CORNFLOWER */
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #E7E9FC;


/* Online Courses */

width: 142px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Marketing */

width: 75px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Project Card 2 */

position: absolute;
width: 360px;
height: 420px;
left: 540px;
top: 2448px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;


/* img */

position: absolute;
width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: url(2105.w026.n002.440B.p0.440.jpg);
mix-blend-mode: normal;


/* Card Content */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 16px;
gap: 8px;

position: absolute;
width: 360px;
height: 120px;
left: 0px;
top: 300px;

/* CORNFLOWER */
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #E7E9FC;


/* Screen Illustrations */

width: 181px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Design */

width: 51px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Project Card 1 */

position: absolute;
width: 360px;
height: 420px;
left: 156px;
top: 2448px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;


/* img */

position: absolute;
width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: url(female-taxi-driver-paying-attention-road.jpg);


/* Card Content */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 16px;
gap: 8px;

position: absolute;
width: 360px;
height: 120px;
left: 0px;
top: 300px;

/* CORNFLOWER */
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #E7E9FC;


/* Taxi Service */

width: 113px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Marketing */

width: 75px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Row 1 */

position: absolute;
width: 1128px;
height: 420px;
left: calc(50% - 1128px/2);
top: 1980px;



/* Project Card 3 */

position: absolute;
width: 360px;
height: 420px;
left: 924px;
top: 1980px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;


/* img */

position: absolute;
width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: url(3.png);
mix-blend-mode: normal;


/* Card Content */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 16px;
gap: 8px;

position: absolute;
width: 360px;
height: 120px;
left: 0px;
top: 300px;

/* CORNFLOWER */
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #E7E9FC;


/* Meditaion App */

width: 143px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App */

width: 30px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Project Card 2 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 420px;
left: 540px;
top: 1980px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;
/* CORNFLOWER */
border: 1px solid #E7E9FC;


/* img */

position: absolute;
width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: url(4.png);
mix-blend-mode: normal;


/* img */

position: absolute;
visibility: hidden;
width: 360px;
height: 300px;
left: 0px;
top: 0px;

/* IRIS */
background: #4D5AE5;
mix-blend-mode: normal;


/* 14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App */

position: absolute;
visibility: hidden;
width: 296px;
height: 96px;
left: 32px;
top: 40px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;

/* CLOUD */
color: #F4F4FD;



/* Card Content */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 16px;
gap: 8px;

position: absolute;
width: 360px;
height: 120px;
left: 0px;
top: 300px;

/* CORNFLOWER */
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #E7E9FC;


/* Cashless Payment */

width: 172px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Marketing */

width: 75px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Project Card 1 */

position: absolute;
width: 360px;
height: 420px;
left: 156px;
top: 1980px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;


/* img */

position: absolute;
width: 360px;
height: 300px;
left: 0px;
top: 0px;

background: url(4074365.jpg);
mix-blend-mode: normal;


/* Card Content */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px 16px;
gap: 8px;

position: absolute;
width: 360px;
height: 120px;
left: 0px;
top: 300px;

/* CORNFLOWER */
border-width: 0px 1px 1px 1px;
border-style: solid;
border-color: #E7E9FC;


/* Banking App */

width: 118px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* App */

width: 30px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Our Portfolio */

position: absolute;
width: 218px;
height: 40px;
left: 611px;
top: 1868px;

/* Header 2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;



/* Section 2 */

position: absolute;
width: 1440px;
height: 732px;
left: 0px;
top: 1016px;



/* Light-bg */

position: absolute;
width: 1440px;
height: 732px;
left: 0px;
top: 1016px;

/* CLOUD */
background: #F4F4FD;


/* Team Card 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 32px;
gap: 32px;

position: absolute;
width: 264px;
height: 380px;
left: 1020px;
top: 1248px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;


/* img */

width: 264px;
height: 260px;

background: url(confident-handsome-guy-posing-against-white-wall.jpg);
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card Content */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 232px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Daniel Wilson */

width: 127px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* UI Designer */

width: 85px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Traling Icons */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

display: none;
width: 232px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Team Card 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 32px;
gap: 32px;

position: absolute;
width: 264px;
height: 380px;
left: 732px;
top: 1248px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;


/* img */

width: 264px;
height: 260px;

background: url(young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair.jpg);
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card Content */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 232px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Camila Garcia */

width: 130px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Marketing */

width: 75px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Traling Icons */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

display: none;
width: 232px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Team Card 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 32px;
gap: 32px;

position: absolute;
width: 264px;
height: 380px;
left: 444px;
top: 1248px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;


/* img */

width: 264px;
height: 260px;

background: url(img-2.jpg);
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card Content */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 232px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Tom Ford */

width: 88px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frontend Developer */

width: 144px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Traling Icons */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

display: none;
width: 232px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Team Card 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 32px;
gap: 32px;

position: absolute;
width: 264px;
height: 380px;
left: 156px;
top: 1248px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;


/* img */

width: 264px;
height: 260px;

background: url(man-with-laptop-presenting-something.jpg);
mix-blend-mode: normal;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card Content */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 232px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Mark Guerrero */

width: 134px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Product Designer */

width: 128px;
height: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Traling Icons */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

display: none;
width: 232px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Our Team */

position: absolute;
width: 162px;
height: 40px;
left: 639px;
top: 1136px;

/* Header 2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;



/* Section 1 */

position: absolute;
width: 1128px;
height: 104px;
left: 156px;
top: 792px;



/* Feature 4 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 264px;
height: 104px;
left: 1020px;
top: 792px;



/* Technologies */

width: 264px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Design practice focused on digital experiences. We bring forth a deep passion for problem-solving. */

width: 264px;
height: 72px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Feature 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 264px;
height: 104px;
left: 732px;
top: 792px;



/* Diligence */

width: 264px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Research and confirm brands that present the strongest digital growth opportunities and minimize risk. */

width: 264px;
height: 72px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Feature 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 264px;
height: 104px;
left: 444px;
top: 792px;



/* Punctuality */

width: 264px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bring the key message to the brand's audience for the best price within the shortest possible time. */

width: 264px;
height: 72px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Feature 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

position: absolute;
width: 264px;
height: 104px;
left: 156px;
top: 792px;



/* Strategy */

width: 264px;
height: 24px;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Our goal is to identify the business problem to walk away with the perfect and creative solution. */

width: 264px;
height: 72px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* hero image */

position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;



/* Dark-bg */

position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;

/* NAVY BLUE */
background: #2E2F42;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px;

/* IRIS */
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;


/* Order Service */

width: 105px;
height: 24px;

/* Button Text */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: 0.04em;

/* WHITE */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Effective Solutions for Your Business */

position: absolute;
width: 496px;
height: 120px;
left: 472px;
top: 260px;

/* Header 1 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
/* or 107% */
text-align: center;
letter-spacing: 0.02em;

/* WHITE */
color: #FFFFFF;



/* Top Line */

position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;



/* Top Line */

position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;



/* Top line bg */

box-sizing: border-box;

position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;

/* WHITE

Header background, team card background
*/
background: #FFFFFF;
/* CORNFLOWER */
border-bottom: 1px solid #E7E9FC;


/* +11 (000) 111-11-11 */

position: absolute;
width: 151px;
height: 24px;
left: 1133px;
top: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;



/* info@devstudio.com */

position: absolute;
width: 153px;
height: 24px;
left: 940px;
top: 24px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* SLATE */
color: #434455;



/* Menu Nav */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 261px;
height: 24px;
left: 347px;
top: 24px;



/* Studio */

width: 48px;
height: 24px;

/* Body Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Portfolio */

width: 66px;
height: 24px;

/* Body Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Contacts */

width: 67px;
height: 24px;

/* Body Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Logo */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 115px;
height: 24px;
left: 156px;
top: 24px;



/* Web */

width: 44px;
height: 21px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */
color: #4D5AE5;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Studio */

width: 71px;
height: 21px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* NAVY BLUE */
color: #2E2F42;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;