.inputWrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 343px;
  flex-direction: column;
  gap: 8px;
}

.inputContainer {
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  left: 0;
  width: 100%;
  border-radius: 30px;
  border-radius: 15px;
  border: 1px solid var(--inactive-color);
  background-color: var(--white-color);
  overflow: hidden;
}

.inputField.placeholderField,
.inputField.placeholderField::placeholder {
  color: var(--inactive-color);
}

.inputField::placeholder {
  color: var(--title-color);
}

.inputField {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: 1px solid var(--inactive-color);


  transition: var(--border-transition);
  color: var(--inactive-color);


  background-color: var(--white-color);
  text-align: left;
  padding-left: 14px;

  font-size: 14px;
  line-height: 1.42;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    height: 56px;
    padding-left: 18px;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid var(--title-color);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

.inputFieldSelected {
  color: var(--text-color);
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  fill: none;
  stroke: #111;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px 0;
  max-height: 300px;
  overflow-y: auto;
}

.dropdownItem {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: var(--title-color);
  cursor: pointer;
  padding: 0 18px;

  scrollbar-color: transparent transparent;


  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }

  &:hover {
    background-color: var(--inactive-color);
  }
}

.inputError {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  background-color: #fff;
  bottom: -8px;
  left: 15px;
  z-index: 1;
  padding: 0 5px;
}

.dropdownItemSelected {
  background-color: var(--inactive-color);
}

.inputFieldFocused {
  border: 1px solid var(--title-color);
}
