.tabItem {
  padding-bottom: 14px;
}

@media screen and (max-width: 374px) {
  .tabItem:first-child {
    padding-left: 8px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .tabItem:first-child {
    padding-left: 16px;
  }
}

.tabItemLink {
  color: var(--inactive-color);
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--color-transition);
}

.tabItemLink:hover,
.tabItemLink:focus {
  color: var(--title-color);
}

.active {
  color: var(--title-color);
}

.active::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--title-color);
  transform: translateY(16px);
  z-index: 1;
}