.discount-badge {
    width: 200px;
    padding: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    background-color: #212121;
    color: #ffffff;
}
.discount-badge.bronze{
    color: #cd7f32;
}
.discount-badge.silver{
color: #c0c0c0;
}
.discount-badge.gold{
color: #ffd700;
}