.page-nav .link {
    color: #00bcd4;
}

.club-list .link {
    color: #ffc107;
}

.page-nav .link:hover, .page-nav .link:focus {
    color: #18ffff;
}

.club-list .link:hover, .club-list .link:focus {
    color: #f57f17;
}

.page-nav .link:active {
    color: #212121;
}

.club-list .link:active {
    color: #ff1744;
}
